/* GLOBAL STYLES */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  outline: none;
}

body {
  margin: 0;
  background-color: green;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1770px;
}

.title {
  margin: 0;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  font-family: inherit;
  cursor: pointer;
}

:root {
  --color-white: #fff;
  --color-black: #000;
  --color-gold: yellow;
}

/* HEADER */

.header__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.header__title {
  margin-right: auto;
  color: var(--color-white);
}

.menu {
  display: flex;
  margin-right: auto;
}

.menu__item:not(:last-child) {
  margin-right: 30px;
}

.menu__btn {
  position: relative;
  display: flex;
  width: 30px;
  height: 30px;
  color: var(--color-white);
}

.menu__tooltip {
  position: absolute;
  top: calc(100% + 10px);
  left: 50%;
  padding: 10px;
  border-radius: 5px;
  color: var(--color-white);
  background-color: rgba(51,51,51,.5);
  visibility: hidden;
  opacity: 0;
  transform: translateX(-50%);
  transition: visibility .3s ease-in-out, opacity .3s ease-in-out;
}

.menu__btn:hover .menu__tooltip {
  visibility: visible;
  opacity: 1;
  transition: visibility .3s ease-in-out, opacity .3s ease-in-out;
}

.menu__btn:hover .info-icon-animate-part {
  animation: info-animation 1s ease-in-out infinite;
}

.menu__btn:hover .settings-icon-animate-part {
  animation: settings-animation 1s ease-in-out infinite;
}

.menu__btn svg {
  width: 100%;
  height: 100%;
  fill: currentColor;
}

.header__timer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  min-width: 90px;
  border: 1px solid var(--color-white);
  border-radius: 5px;
  color: var(--color-white);
}

@keyframes info-animation {
  from {
    transform: rotateY(0);
    transform-origin: center;
  }
  50% {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(0);
  }
}

@keyframes settings-animation {
  from {
    transform: rotateZ(0);
    transform-origin: center;
  }
  50% {
    transform: rotateZ(180deg);
    transform-origin: center;
  }
  to {
    transform: rotateZ(0);
    transform-origin: center;
  }
}